{% extends "base.html" %}
{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>
<form action="/users/new" method="POST">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
    </div>
    <div class="form-group">
        <label for="image_url">Profile Image:</label>
        <input type="url" class="form-control" id="image_url" name="image_url" value="{{user.image_url}}">
    </div>
    <button class="btn btn-primary">Add</button>
</form>
<form action="/users/{{user.id}}" method="GET">
    <button class="btn btn-success">Go Back</button>
</form>
{% endblock %}