{% extends "base.html" %}
{% block title %}User Details{% endblock %}
{% block content %}
<h1>User Details</h1>
<img style="width: 200px; height: auto; float: left;" src="{{user.image_url}}" alt="User profile image">

<div style="float: left;">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <form action="/users/{{user.id}}/edit">
        <button style="float: left;" class="btn btn-primary">Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button style="float: left;" class="btn btn-danger">Delete</button>
    </form>
    <h2 style="clear: both;">Posts</h2>
    <ul>
        <li>Posts go in this list</li>
    </ul>
    <form action="/users/{{user.id}}/posts/new">
        <button style="float: left;" class="btn btn-primary">Add New Post</button>
    </form>


</div>

{% endblock %}